/* #region globale settings */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "eater", sans-serif;
}

@font-face {
  font-family: "eater";
  src: url("./fonts/eater.ttf");
}
/* #endregion */

/* #region basic layout */
html, body {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  overflow: hidden;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("img/5_background/background_canvas3.png");
  background-position: center;
  background-size: cover;
}

.game-container {
  width: 100%;
  max-width: 720px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

canvas {
  width: 100%;
  aspect-ratio: 3 / 2;
  display: block;
  border-radius: 8px;
  height: auto;
  max-height: 80vh;
}
/* #endregion */

/* #region screen(start, win, game over) */
.screen {
  position: absolute;
  inset: 0;
  display: none;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  z-index: 10;
}

.d-flex { display: flex; }
.d-none { display: none; }

.screen-img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  border-radius: 8px;
}

.screen-img.cover { object-fit: cover; }
.screen-img.contain { object-fit: contain; background-color: #0D0D12CC; }
/* #endregion */

/* #region buttons & controls  */
.controls {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  flex-direction: column;
  gap: 15px;
  z-index: 50;
}
.button-group {
  display: none;
  gap: 10px;
}

.button-group.d-flex {
  display: flex;
}

button {
  font-size: 1.2rem;
  padding: 0.25rem 0.5rem;
  border-radius: 8px;
  background: #0D0D12CC;
  color: #E6B35A;
  cursor: pointer;
  letter-spacing: 2px;
  border: none;
}

button:hover {
  color: #C47A37;
  transform: scale(1.05);
}
/* #endregion */


/* #region sound button  */
#sound-control {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 50;
}
#toggle-sound {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  cursor: pointer;
}

#toggle-sound:hover {
  transform: scale(1.1);
}
/* #endregion */

/* #region control-hub (desktop and rules ) */
.control-hub {
  margin-top: 1rem;
  background: #793D26;
  border-radius: 8px;
  padding: 1.5rem;
  color: #E6B35A;
  width: 720px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1.5rem;
}

.keybindings,
.game-rules {
  border-radius: 6px;
  padding: 1rem;
}

.keybindings {
  background: #8B4B2F;
}

.keybindings ul,
.game-rules ul {
  list-style: none;
}

@media (max-width: 768px) {
  .control-hub {
    flex-direction: column;
  }

  .keybindings,
  .game-rules {
    width: 100%;
  }
}

/* #endregion */

/* #region legal-notice button  */
#info-btn {
  position: absolute;
  bottom: 10px;
  right: 20px;
  z-index: 50;
  padding: 0.2rem 0.25rem;
  border-radius: 8px;
}

#info-btn:hover {
  color: #C47A37;
  transform: scale(1.05);
}
/* #endregion */

/* #region overlay(legal notice) */
.overlay {
  position: fixed;
  inset: 0;
  background: #0D0D12CC;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.overlay:not(.d-none) {
  display: flex;
}

.overlay-content {
  position: relative;
  background: #1E1F24;
  color: #E6B35A;
  padding: 30px 40px;
  border-radius: 12px;
  width: 720px;
  max-width: 90%;
  max-height: 80vh;
  overflow-y: auto;
  animation: fadeIn 0.3s ease;
}

.overlay-content h2 {
  text-align: center;
  color: #F7D87C;
  margin-bottom: 1rem;
  font-size: 1.8rem;
  letter-spacing: 1px;
}

.overlay-content h3 {
  margin-top: 1rem;
  color: #ffd966;
  font-size: 1.2rem;
}

.overlay-content p {
  line-height: 1.6;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.overlay-content a {
  color: #F7D87C;
  text-decoration: none;
}

.overlay-content a:hover {
  text-decoration: underline;
}

.close-btn {
  position: absolute;
  top: 15px;
  right: 20px;
  font-size: 2rem;
  color: #E6B35A;
  cursor: pointer;
}

.close-btn:hover {
  color: #C47A37;
  transform: scale(1.15);
}
/* #endregion */


@keyframes fadeIn {
  from { opacity: 0; transform: scale(0.95); }
  to { opacity: 1; transform: scale(1); }
}

/* #region rotate warning  */
.rotate-warning {
  display: none;
  position: fixed;
  inset: 0;
  background: #0D0D12CC;
  color: #E6B35A;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
  z-index: 28;
  text-align: center;
  padding: 2rem;
}
/* #endregion */

/* #region responsive */
/* small screens */
@media (max-width: 1200px) and (orientation: landscape) {
  canvas {
    max-height: 70vh;
  }
}
/* warning  */
@media (pointer: coarse) and (orientation: portrait) {
  .game-container,
  .mobile-controls,
  .controls,
  .control-hub,
  #sound-control,
  #info-btn {
    display: none;
  }

  .rotate-warning {
    display: flex;
  }
}

/* landscape touch */
@media (pointer: coarse) and (orientation: landscape) {
  html, body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: #000;
  }
  body { 
    background-image: none; 
  }

  .game-container {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    max-width: none;
    max-height: none;
    border-radius: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  canvas {
    width: 100%;
    height: 100%;
    max-width: 100vw;
    max-height: 100vh;
    margin: 0;
    padding: 0;
    border-radius: 0;
    display: block;
    object-fit: contain;
    background: #000;
  }

  .controls, #sound-control, #info-btn {
    display: flex;
  }
  .control-hub { 
    display: none;
  }

  .mobile-controls {
    display: none;
    position: fixed;
    inset: 0;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    z-index: 30;
    pointer-events: none;
  }
  .mobile-controls.active {
    display: flex;
  }
  .left-controls, .right-controls {
    display: flex;
    flex-direction: column;
    gap: 20px;
    pointer-events: auto;
  }
  .mobile-controls button {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
    padding: 0;
  }
  .mobile-controls button img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    pointer-events: none;
  }
}
.mobile-controls button:active {
  transform: scale(0.9);
}
/* tablet*/
@media (pointer: coarse) and (orientation: landscape) and (min-width: 768px) and (max-width: 1366px) {
  canvas {
    max-width: calc(100vh * 1.5); /* Canvas 3:2 Aspect Ratio beibehalten */
    max-height: 100vh;
    width: auto;
    height: auto;
  }
}

/* desktop */
@media (pointer: fine) and (min-width: 1025px) {
  .mobile-controls,
  .rotate-warning {
    display: none;
  }
  .control-hub {
    display: flex;
  }
}

/* desktop small screens  */
@media (pointer: fine) and (max-width: 1024px) {
  .game-container,
  .mobile-controls,
  .controls,
  .control-hub,
  #sound-control,
  #info-btn {
    display: none;
  }
  .rotate-warning {
    display: flex;
  }
}
/* #endregion */